
.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 


  .sidebar-title {
    font-size: 14px;
    font-weight: normal;
    margin-right: 20rem;
    margin-top: 3rem;
  }
  
  .sidebar-items {
    margin-top: 20px;
  }
  

  
 
  
  .all {
    background: linear-gradient(blue, crimson);
  }
  
  
  

